.mainBackground
{
	background-color: grey;
	//height: 100%;
	//width: 100%;
	padding: 10px;
	overflow-y: hidden;
	overflow-x: hidden;
}

#allElements
{
	background-color: #66ff99;
	height: 500px;
	margin: auto; 
	display: table;
}

.canvasBackground
{
	background-color: white;
}

.button 
{
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	width: 100px;
    height: 50px;
}

.radio
{
	background: white;
}

.centerise 
{
    text-align: center;
}

.canvasAround
{
	width: 100%
	height: auto;
	overflow: hidden;
	display: block;
}

#leftPart, #rightPart
{
	float: left;
	padding-top: 225px;
	padding-right: 20px;
	padding-left: 20px;
	display: table-cell;
}

#midPart
{
	float: left;
	display: table-cell;
}

#message
{
	background: black;
    color: red;
	font-weight: bold;
}
